body {
    margin: 0;
}

#canvas {
    width: 100vw;
    height: 100vh;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}